.navbar .navbar-nav .nav-link:hover {
  background-color: black;
  color: #FFFFFF; }

footer .text-center .text-white:hover {
  background-color: rgba(116, 103, 103, 0.603); }

.formContact {
  border: solid;
  box-shadow: -1px -1px 31px 25px;
  -webkit-box-shadow: -1px -1px 31px 25px;
  -moz-box-shadow: -1px -1px 31px 25px; }

.pContacto {
  font-size: 2rem; }

div label {
  font-size: 3rem;
  color: #be8e70; }

.card:hover {
  box-shadow: -1px 8px 0px -1px black;
  -webkit-box-shadow: -1px 8px 0px -1px black;
  -moz-box-shadow: -1px 8px 0px -1px black;
  border-radius: 61px 61px 61px 61px;
  -webkit-border-radius: 61px 61px 61px 61px;
  -moz-border-radius: 61px 61px 61px 61px;
  transform: translateY(-15px); }

.card {
  background-color: #d9caba; }

.tittle {
  text-align: center; }

.formContact {
  border: solid;
  box-shadow: -1px -1px 31px 25px;
  -webkit-box-shadow: -1px -1px 31px 25px;
  -moz-box-shadow: -1px -1px 31px 25px; }

body {
  background-color: #d9caba; }

h1 {
  text-align: center;
  font-size: 2rem; }

.pContacto {
  font-size: 2rem; }
