@media only screen and (max-width: 1024px) {
  body h1 {
    font-size: 3.5rem; }
  body .card-body {
    font-size: 1.5rem; } }

@media only screen and (max-width: 768px) {
  body h1 {
    font-size: 2.5rem; } }

.m-1 {
  margin: 10px; }

.m-2 {
  margin: 20px; }

.m-3 {
  margin: 30px; }

.m-4 {
  margin: 40px; }

.m-5 {
  margin: 50px; }

.m-6 {
  margin: 60px; }

.m-7 {
  margin: 70px; }

.m-8 {
  margin: 80px; }

.m-9 {
  margin: 90px; }

.m-10 {
  margin: 100px; }

.mt-1 {
  margin-top: 10px; }

.mt-2 {
  margin-top: 20px; }

.mt-3 {
  margin-top: 30px; }

.mt-4 {
  margin-top: 40px; }

.mt-5 {
  margin-top: 50px; }

.mt-6 {
  margin-top: 60px; }

.mt-7 {
  margin-top: 70px; }

.mt-8 {
  margin-top: 80px; }

.mt-9 {
  margin-top: 90px; }

.mt-10 {
  margin-top: 100px; }

.mr-1 {
  margin-top: 10px; }

.mr-2 {
  margin-top: 20px; }

.mr-3 {
  margin-top: 30px; }

.mr-4 {
  margin-top: 40px; }

.mr-5 {
  margin-top: 50px; }

.mr-6 {
  margin-top: 60px; }

.mr-7 {
  margin-top: 70px; }

.mr-8 {
  margin-top: 80px; }

.mr-9 {
  margin-top: 90px; }

.mr-10 {
  margin-top: 100px; }

.mb-1 {
  margin-top: 10px; }

.mb-2 {
  margin-top: 20px; }

.mb-3 {
  margin-top: 30px; }

.mb-4 {
  margin-top: 40px; }

.mb-5 {
  margin-top: 50px; }

.mb-6 {
  margin-top: 60px; }

.mb-7 {
  margin-top: 70px; }

.mb-8 {
  margin-top: 80px; }

.mb-9 {
  margin-top: 90px; }

.mb-10 {
  margin-top: 100px; }

.ml-1 {
  margin-top: 10px; }

.ml-2 {
  margin-top: 20px; }

.ml-3 {
  margin-top: 30px; }

.ml-4 {
  margin-top: 40px; }

.ml-5 {
  margin-top: 50px; }

.ml-6 {
  margin-top: 60px; }

.ml-7 {
  margin-top: 70px; }

.ml-8 {
  margin-top: 80px; }

.ml-9 {
  margin-top: 90px; }

.ml-10 {
  margin-top: 100px; }

.card, .card-text, .card-body {
  border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  background-color: #D9CABA;
  color: #414066; }

.card-text {
  text-align: center; }

.card-body {
  text-align: center; }

.navbar .navbar-nav .nav-link:hover {
  background-color: black;
  color: #FFFFFF; }

footer .text-center .text-white:hover {
  background-color: rgba(116, 103, 103, 0.603); }

body {
  background-color: #D9CABA; }

.navbar .navbar-nav .nav-link:hover {
  background-color: black;
  color: #FFFFFF; }

.tittle {
  font-size: 3.5rem;
  text-align: center; }

div h5 {
  font-size: 3rem;
  color: White; }

div p {
  font-size: 16px;
  color: black; }

div label {
  font-size: 2rem;
  color: #be8e70; }
