
// BUCLES//
@for $margen from 1 through 10 {
    .m-#{$margen} {
        margin: 10px * $margen;
    }
}

@for $margen from 1 through 10 {
    .mt-#{$margen} {
        margin-top: 10px * $margen;
    }
}

@for $margen from 1 through 10 {
    .mr-#{$margen} {
        margin-right: 10px * $margen;
    }
}

@for $margen from 1 through 10 {
    .mb-#{$margen} {
        margin-bottom: 10px * $margen;
    }
}

@for $margen from 1 through 10 {
    .ml-#{$margen} {
        margin-left: 10px * $margen;
    }
}

@for $margen from 1 through 5{
    .mx-#{$margen}{
        margin-left: 10px * $margen;
        margin-right: 10px *$margen;
    }
}

// @media only screen and (max-width: 1024px){
//     @for $margen from 1 through 10 {
//         .m-#{$margen}{
//             margin: 2px * $margen;           
//         }
//     }

//     @for $margen from 1 through 10 {
//         .mt-#{$margen}{
//             margin-top: 2px * $margen;           
//         }
//     }

//     @for $margen from 1 through 10 {
//         .ml-#{$margen}{
//             margin-left: 2px * $margen;           
//         }
//     }

//     @for $margen from 1 through 5{
//         .mx-#{$margen}{
//             margin-left: 2px * $margen;
//             margin-right: 2px * $margen;
//         }
//     }
// }

// MAPS //
$coloresGaleria: (
    bg--TextoCards:#D9CABA,
    bg--PurpleNavy:#414066,
    bg--Azul: blue,
    bg--Marron: brown,
    bg--Negro: black,
    bg--Terciario: #b7b7bc,
    bg--Cuarto: #be8e70,
    bg--Quinto: #92836c,
    bg--Danger: #dc3545,
    bg--White: #FFFFFF
);

//extends y map-get//
.card {
    border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    background-color: $bg--TextoCards;
    color: map-get($coloresGaleria, bg--PurpleNavy);
}

.card-text{
@extend .card;
text-align: center;
color: map-get($coloresGaleria, $bg--White)
}

.card-body {
    @extend .card;
    text-align: center;

}