$bg--TextoCards:#D9CABA;
$bg--PurpleNavy:#414066;
$bg--Azul: blue;
$bg--Marron: brown;
$bg--Negro: black;
$bg--Terciario: #b7b7bc;
$bg--Cuarto: #be8e70;
$bg--Quinto: #92836c;
$bg--Danger: #dc3545;
$bg--White: #FFFFFF;

$vista:mobile;
$vistaD:desktop;
