.formContact{
border: solid;
box-shadow: -1px -1px 31px 25px ;
-webkit-box-shadow: -1px -1px 31px 25px ;
-moz-box-shadow: -1px -1px 31px 25px ;}
.pContacto{
    font-size: 2rem;
}

// .bgImagen{ 
//     background-repeat: no-repeat;
//     background-image: url()
// }

div{
    label{
    font-size: 3rem;
    color: $colorCuarto;
    }
}