.formContact{
border: solid;
box-shadow: -1px -1px 31px 25px ;
-webkit-box-shadow: -1px -1px 31px 25px ;
-moz-box-shadow: -1px -1px 31px 25px ;}
.pContacto{
    font-size: 2rem;
}

.bgImagen{
    background-image: url("https://i.blogs.es/f47e4d/horizontal_500/450_1000.jpg");
}