body{
    background-color: $colorDeFondo;
}
// header //
.navbar .navbar-nav .nav-link:hover{
    background-color: $colorTitulos;
    color: $colorBlanco;
}

.tittle{
    font-size: 3.5rem;
    text-align: center;
}

// CONTACTO //
.pContacto {
    font-size: 2rem;
}
div {
    h3 {
        font-size: 3rem;
        color: $colorCuarto;
    }
    p {
        color: $colorTitulos;
    }
}
div {
    label {
        font-size: 2rem;
        color: $colorCuarto;
    }
}
// Galeria//
// .card{
//     border-radius: 40px 40px 40px 40px;
//     -webkit-border-radius: 40px 40px 40px 40px;
//     -moz-border-radius: 40px 40px 40px 40px;
//     background-color: $colorDeFondo;
// }
// .card-text,.card-title,{
//     text-align: center;
// }
