body {
    background-color: $bg--TextoCards;
}

//header//
.navbar .navbar-nav .nav-link:hover {
    background-color: $bg--Negro;
    color: $bg--White;
}

.tittle {
    font-size: 3.5rem;
    text-align: center;
}

// CONTACTO //

@mixin firstMixin ($fSize, $color) {
    font-size: $fSize;
    color: $color;
}

div {
    h5 {
        @include firstMixin(3rem, White)
    }

    p {
        @include firstMixin(16px, black)
    }
}

div {
    label {
        @include firstMixin(2rem, #be8e70)
    }
}