@import "_colores";
@import "_header";
@import "_footer";
@import "_contacto1";
@import "_galeria1";
@import "_ubicacion1";
@import "_main";
body{
    background-color: $colorDeFondo;
}
h1{
    text-align: center;
    font-size: 2rem;
}
.pContacto{
    font-size: 2rem;
}

// div{
//     a:hover{
//         button:hover{
//             background-color: darkblue;
//         }
//     }
// }
